[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.6.0"
pillow = "*"
matplotlib = "*"
tqdm = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
train = "python src/train.py"
inference = "python src/inference.py"
notebook = "jupyter notebook"
tensorboard = "tensorboard --logdir ./logs"
